@media (min-width: 1025px) and (max-width: 1280px) {
    /* BASE STYLES */

    /* LAYOUT  */
    .desktop\:container {
        max-width: 991px;
    }

    .desktop\:block {
        display: block;
    }

    .desktop\:w-full {
        width: 100%;
    }

    /* UTILITIES */

    /* COMPONENTS */
    .desktop\:line-w-full::before {
        width: 100%;
    }

}