@media (max-width: 767px) {
    /* BASE STYLES */

    /* LAYOUT  */
    .mobile\:container {
        max-width: 95%;
    }

    .mobile\:none {
        display: none;
    }

    .mobile\:block {
        display: block;
    }

    .mobile\:col {
        display: flex;
        flex-direction: column;
    }

    .mobile\:content-center {
        justify-content: center;
    }

    .mobile\:grid-cols-1 {
        grid-template-columns: repeat(1, 1fr);
    }

    .mobile\:mg-bot-30 {
        margin-bottom: 30px;
    }

    .mobile\:mg-top-30 {
        margin-top: 30px;
    }

    .mobile\:pad-bot-0 {
        padding-bottom: 0;
    }

    .mobile\:pad-30 {
        padding: 30px;
    }

    .mobile\:pad-0 {
        padding: 0px;
    }

    .mobile\:pad-y-20 {
        padding: 20px 0;
    }

    .mobile\:w-1\/2 {
        width: 50%;
    }

    .mobile\:w-full {
        width: 100%;
    }

    .mobile\:h-auto {
        height: auto;
    }

    .mobile\:gap-20 {
        gap: 30px;
    }


    /* UTILITIES */
    .mobile\:center {
        text-align: center;
    }

    .mobile\:baseline {
        align-items: baseline;
    }

    .mobile\:position-none {
        position: unset;
    }

    .mobile\:content-center {
        justify-content: center;
    }

    /* COMPONENTS */

}