:root {
    --black: #232536;
    --yellow: #FFD050;
    --grey: #6D6E76;
    --purple: #592EA9;
    --lavender: #F4F0F8;
    --light-yellow: #FBF6EA;
    --white: white;
    --dark-grey: #2e3040;
    --medium-grey: #6D6E76;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Sen";
    font-weight: 400;
}

p {
    font-family: "Inter";
    font-size: 16px;
    color: var(--medium-grey);
    line-height: 28px;
}

a {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    line-height: 28px;
}

li {
    list-style: none;
}

button {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    padding: 16px 48px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background-color: var(--yellow);
    color: var(--black);
}

button:hover {
    background-color: var(--black);
    color: var(--white);
}

h1 {
    font-size: 56px;
    font-weight: 700;
    color: var(--white);
    line-height: 64px;
}

h2 {
    font-size: 36px;
    font-weight: 700;
    color: var(--black);
    line-height: 48px;

}

h3 {
    font-size: 28px;
    color: var(--black);
    font-weight: 700;
    line-height: 40px;
}

input {
    border: none;
    font-size: 16px;
    font-family: "Inter";
    color: var(--black);
    font-weight: 400;
    border: 1px solid #6D6E7680;
    line-height: 28px;
}

input:focus {
    outline: none;
    border: none;
    border: 1px solid #6D6E7680
}

strong {
    font-weight: 800;
}

.container {
    max-width: 1282px;
    margin: 0 auto;
}

.name {
    color: var(--yellow);
}

.sub-title {
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* header */
.header {
    background-color: var(--black);
    /* position: fixed;
    top: 0;
    right: 0;
    left: 0; */

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.navbar .menu {
    display: flex;
    gap: 30px;
}

.navbar .menu ul,
.navbar .menu nav {
    display: flex;
    align-items: center;
}

.navbar .menu ul {
    gap: 30px;
}

.navbar a {
    color: var(--white);
}

.navbar a:hover {
    color: var(--yellow);
}

.logo a {
    font-size: 35px;
    font-weight: 700;
}

.button-header {
    color: var(--black);
    background-color: var(--white);
}

.button-header:hover {
    background-color: var(--yellow);
    color: var(--black);
}

/* end header */

/* footer */
.footer {
    background-color: var(--black);
    padding: 57px 0;
}

.footer-input {
    background-color: var(--dark-grey);
    padding: 80px 70px;
    margin: 57px 0;
    display: flex;
    justify-content: space-between;
}

.footer-input h2 {
    color: var(--white);
    max-width: 600px;
}

.footer-input input {
    background-color: transparent;
    color: var(--medium-grey);
    height: 56px;
    padding: 0 20px;
    min-width: 250px;
    margin-right: 20px;
}

.footer-contacts {
    display: flex;
    justify-content: space-between;
}

.infor ul {
    display: flex;
    gap: 20px;
}

.infor a {
    color: var(--black);
    font-size: 16px;
}

.infor ul li a:hover {
    color: var(--yellow);
}

.footer-contacts .infor a {
    color: var(--medium-grey);
}

/* end footer */

/* main */
/* jumbotron */
.jumbotron {
    position: relative;
    overflow: hidden;
    padding: 170px 0 230px 0;
}

.jumbotron::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url('/assets/images/bg-1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: scaleX(-1);
    filter: brightness(50%);
    z-index: -1;
}

.jumbotron p {
    color: var(--white);
    margin: 25px 0;
    max-width: 600px;
}

.jumbotron .content .text {
    margin-bottom: 70px;
}

.jumbotron .content {
    max-width: 860px;
}