/* CSS VARIABLES */
:root {
    --color-black: #232536;
    --color-yellow-1: #FFD050;
    --color-grey-1: #6D6E76;
    --color-purple: #592EA9;
    --color-lavender: #F4F0F8;
    --color-yellow-2: #FBF6EA;
    --color-white: #ffffff;
    --color-grey-2: #2e3040;
    --color-grey-3: #6D6E76;
    --color-border-color: #f0f0f1;
    --color-grey-4: #F4F4F4;
    --color-grey-5: #4C4C4C;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-10px);
    }

    50% {
        transform: translateX(10px);
    }

    75% {
        transform: translateX(-10px);
    }

    100% {
        transform: translateX(0);
    }
}

/* BASE STYLES */
* {
    transition: all 0.3s ease-in-out;
}

body {
    margin: 0;
    font-family: "Sen";
    box-sizing: border-box;
    font-weight: 400;
}

p {
    font-family: "Inter";
    font-size: 16px;
    line-height: 28px;
}

a {
    text-decoration: none;
    line-height: 28px;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    color: var(--color-black);
    margin-top: 0;
}

h1 {
    font-size: 56px;
    line-height: 64px;
}

h2 {
    font-size: 36px;
    line-height: 48px;
}

h3 {
    font-size: 28px;
    line-height: 40px;
}

h4 {
    font-size: 24px;
    line-height: 32px;
}

h5 {
    font-size: 20px;
    line-height: 32px;
}

h6 {
    font-size: 18px;
    line-height: 24px;
}

button {
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

input {
    border: none;
    font-size: 16px;
    font-family: "Inter";
    color: var(--color-black);
    font-weight: 400;
    border: 1px solid #6D6E7680;
    line-height: 28px;
    padding: 13px 20px;
}

input:focus {
    outline: none;
    border: none;
    border: 1px solid #6D6E7680
}

strong {
    font-weight: 800;
}

section {
    padding: 50px 0;
}

address {
    font-style: normal;
}

/* LAYOUT  */
.container {
    max-width: 1282px;
    margin: 0 auto;
}

.grid {
    display: grid;
}

.grid-cols-4 {
    grid-template-columns: repeat(4, 1fr);
}

.flex {
    display: flex;
    align-items: center;
}

.col-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gap-100 {
    gap: 100px;
}

.gap-50 {
    gap: 50px;
}

.gap-30 {
    gap: 30px;
}

.gap-20 {
    gap: 20px;
}

.center {
    text-align: center;
}

.baseline {
    align-items: baseline;
}

.flex-start {
    align-items: flex-start;
}

.stretch {
    align-items: stretch;
}

.hidden {
    overflow: hidden;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.cover {
    object-fit: cover;
}

.bot-right {
    bottom: 0;
    right: 0;
}

.h-100 {
    height: 100%;
}

.h-80 {
    height: 80px;
}

.h-62 {
    height: 62px;
}

.w-40 {
    width: 40%;
}

.w-50 {
    width: 50%;
}

.w-60 {
    width: 60%;
}

.w-80 {
    width: 80%;
}

.w-62 {
    width: 62px;
}

.w-100 {
    width: 100%;
}

.w-200 {
    width: 200px;
}

.w-550 {
    width: 550px;
}

.mg-top-0 {
    margin-top: 0;
}

.mg-top-20 {
    margin-top: 20px;
}

.mg-top-80 {
    margin-top: 80px;
}

.mg-top-100 {
    margin-top: 100px;
}

.mg-top-50 {
    margin-top: 50px;
}

.mg-bot-25 {
    margin-bottom: 25px;
}

.mg-bot-50 {
    margin-bottom: 50px;
}

.mg-50 {
    margin: 50px 0;
}

.mg-20 {
    margin: 20px 0;
}

.mg-25 {
    margin: 25px 0;
}

.mg-0 {
    margin: 0;
}

.pad-0 {
    padding: 0;
}

.pad-30 {
    padding: 30px;
}

.pad-25 {
    padding: 25px;
}

.pad-50 {
    padding: 50px;
}

.pad-80 {
    padding: 80px;
}

.pad-bot-25 {
    padding-bottom: 25px;
}

.pad-top-25 {
    padding-top: 25px;
}

.pad-100 {
    padding: 100px;
}

.pad-top-50 {
    padding-top: 50px;
}

.pad-bot-50 {
    padding-bottom: 50px;
}

.pad-bot-150 {
    padding-bottom: 150px;
}

.pad-r-25 {
    padding-right: 25px;
}

.pad-l-25 {
    padding-left: 25px;
}

.pad-r-100 {
    padding-right: 100px;
}

.pad-l-100 {
    padding-left: 100px;
}

.face {
    opacity: 0;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.face-left {
    transform: translateX(-100%);
}

.face-right {
    transform: translateX(100%);
}

.face-top {
    transform: translateY(-100%);
}

.face-bot {
    transform: translateY(100%);
}

.face.visible {
    opacity: 1;
    transform: translateX(0) translateY(0);
}


/* UTILITIES */
.sub-title {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
    line-height: 20px;
}

.blog-card {
    font-weight: 500;
    font-size: 14px;
    color: var(--color-grey-2);
}

.display {
    font-weight: 700;
    color: var(--color-white);
    font-size: 56px;
    line-height: 64px;
}

.clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.clamp-row-2 {
    -webkit-line-clamp: 2;
}

.clamp-row-3 {
    -webkit-line-clamp: 3;
}

.clamp-row-4 {
    -webkit-line-clamp: 4;
}

.bg-transparent {
    background-color: transparent;
}

.bg-black {
    background-color: var(--color-black);
}

.bg-white {
    background-color: var(--color-white);
}

.bg-lavender {
    background-color: var(--color-lavender);
}

.bg-purple {
    background-color: var(--color-purple);
}

.bg-yellow {
    background-color: var(--color-yellow-1);
}

.bg-light-yellow {
    background-color: var(--color-yellow-2);
}

.bg-light-grey {
    background-color: var(--color-grey-4);
}

.bg-dark-grey {
    background-color: var(--color-grey-2);
}

.text-purple {
    color: var(--color-purple);
}

.text-yellow {
    color: var(--color-yellow-1);
}

.text-white {
    color: var(--color-white);
}

.text-black {
    color: var(--color-black);
}

.text-grey {
    color: var(--color-grey-1);
}

.text-grey-2 {
    color: var(--color-grey-5);
}

.hover-yellow:hover {
    color: var(--color-yellow-1);
}

.hover-purple:hover {
    color: var(--color-purple);
}

.hover-white:hover {
    color: var(--color-white);
}

.hover-bg-black:hover {
    background-color: var(--color-black);
}

.hover-bg-yellow:hover {
    background-color: var(--color-yellow-1);
}

.hover-bg-yellow-2:hover {
    background-color: var(--color-yellow-2);
}

.font-30 {
    font-size: 25px;
}


.button {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    padding: 16px 48px;
    border: none;
    cursor: pointer;
    width: fit-content;
    position: relative;
}

.button::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.157);
    transition: 0.3s all ease-in-out;
}

.button:hover:after {
    width: 100%;
}

.border-rdu-50 {
    border-radius: 50%;
}

.heading {
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: -2px;
}

.logo {
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 2px;
}

.border-rdu-10 {
    border-radius: 10px;
}

.border {
    border: 1px solid var(--color-grey-1);
}

.border-bot {
    border-bottom: 1px solid var(--color-grey-1);
}

.border-left {
    border-left: 1px solid var(--color-grey-1);
}

.border-hover-yellow:hover {
    border-color: var(--color-yellow-1);
}

.border-non {
    border: none;
}

.line::after {
    content: "";
    width: 282px;
    height: 23px;
    background-color: var(--color-purple);
    top: -23px;
    right: 0;
    position: absolute;
}

.line::before {
    content: "";
    width: 1061px;
    height: 23px;
    background-color: var(--color-yellow-1);
    top: -23px;
    right: 0;
    position: absolute;
}

.shake:hover {
    animation: shake 1s;
}

.bg-overlay {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.bg-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    opacity: 0.5;
}

/* COMPONENTS */
.header a {
    font-family: "Inter";
}

.footer {
    padding: 70px 0;
}

.hero {
    height: 720px;
}


.about-us a {
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
}

.arrow button:hover {
    background-color: var(--color-black);
}

.arrow button:hover i {
    color: var(--color-white);
}

.slider-track {
    width: calc(200px * 10);
    animation: scroll 10s linear infinite;
}

.slider-slide {
    width: 200px;
}

.slides {
    width: 100%;
    height: 250px;
}

.slide {
    position: absolute;
    width: 100%;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    transform: translateX(100%);
}

.slide.active {
    opacity: 1;
    transform: translateX(0);
}

.slide.prev {
    transform: translateX(-100%);
}

.slide.next {
    transform: translateX(100%);
}

.pagination button.disabled h3 {
    color: var(--color-grey-1);
    cursor: not-allowed;
}

.page-number {
    font-weight: 700;
    color: var(--color-black);
    margin-top: 0;
    font-size: 28px;
    line-height: 40px;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.page-number.active {
    color: var(--color-yellow-1);
}

.page-number.active::before {
    content: "";
    width: 100%;
    background-color: var(--color-yellow-1);
    position: absolute;
    height: 3px;
    top: -10px;
    right: 50%;
    transform: translateX(50%);
}