:root {
    --black: #232536;
    --yellow: #FFD050;
    --grey: #6D6E76;
    --purple: #592EA9;
    --lavender: #F4F0F8;
    --light-yellow: #FBF6EA;
    --white: white;
    --dark-grey: #2e3040;
    --medium-grey: #6D6E76;
    --border-color: #f0f0f1;
    --light-grey: #F4F4F4;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Sen";
    font-weight: 400;
    transition: all 0.3s ease-in-out;
}

p {
    font-family: "Inter";
    font-size: 16px;
    color: var(--medium-grey);
    line-height: 28px;
}

a {
    text-decoration: none;
    line-height: 28px;
    color: var(--purple);
}

li {
    list-style: none;
}

.button {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    padding: 16px 48px;
    border: none;
    cursor: pointer;
    background-color: var(--yellow);
    color: var(--black);
    width: fit-content;
}

.button:hover {
    filter: brightness(80%);
}

h1 {
    font-size: 56px;
    font-weight: 700;
    color: var(--white);
    line-height: 64px;
}

h2 {
    font-size: 36px;
    font-weight: 700;
    color: var(--black);
    line-height: 48px;

}

h3 {
    font-size: 28px;
    color: var(--black);
    font-weight: 700;
    line-height: 40px;
}

input {
    border: none;
    font-size: 16px;
    font-family: "Inter";
    color: var(--black);
    font-weight: 400;
    border: 1px solid #6D6E7680;
    line-height: 28px;
}

input:focus {
    outline: none;
    border: none;
    border: 1px solid #6D6E7680
}

strong {
    font-weight: 800;
}

section {
    padding: 50px 0;
}

address {
    font-style: normal;
}

.container {
    max-width: 1282px;
    margin: 0 auto;
}

.name {
    color: var(--purple);
}

.jumbotron .name {
    color: var(--yellow);
}

.sub-title {
    text-transform: uppercase;
    letter-spacing: 3px;
}

.blog-card {
    font-weight: 500;
    font-size: 14px;
    color: var(--dark-grey);
}

.text-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.heading {
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: -2px;
}

.list-4 {
    grid-template-columns: repeat(4, 1fr);
    display: grid;
    gap: 30px;
    margin-top: 50px;
}

.content>h2 {
    text-align: center;
}

/* header */
.header {
    background-color: var(--black);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.navbar .menu {
    display: flex;
    gap: 30px;
}

.navbar .menu ul,
.navbar .menu nav {
    display: flex;
    align-items: center;
}

.navbar .menu ul {
    gap: 30px;
}

.navbar a {
    color: var(--white);
}

.navbar a:hover {
    color: var(--yellow);
}

.logo a {
    font-size: 35px;
    font-weight: 700;
}

a.button-header {
    color: var(--black);
    background-color: var(--white);
}

a.button-header:hover {
    background-color: var(--yellow);
    color: var(--black);
}

/* end header */

/* footer */
.footer {
    background-color: var(--black);
    padding: 57px 0;
}

.footer-input {
    background-color: var(--dark-grey);
    padding: 80px 70px;
    margin: 57px 0;
    display: flex;
    justify-content: space-between;
}

.footer-input h2 {
    color: var(--white);
    max-width: 600px;
}

.footer-input input {
    background-color: transparent;
    color: var(--medium-grey);
    height: 56px;
    padding: 0 20px;
    min-width: 250px;
    margin-right: 20px;
}

.footer-contacts {
    display: flex;
    justify-content: space-between;
}

.infor ul {
    display: flex;
    gap: 20px;
}

.infor a {
    color: var(--black);
    font-size: 16px;
}

.infor ul li a:hover {
    color: var(--yellow);
}

.footer-contacts .infor a {
    color: var(--medium-grey);
}

/* end footer */

/* main */

/* jumbotron */
.jumbotron {
    position: relative;
    overflow: hidden;
    padding: 170px 0 230px 0;
    margin-top: 80px;
}

.jumbotron::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url('/assets/images/bg-1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: scaleX(-1);
    filter: brightness(50%);
    z-index: -1;
}

.jumbotron p,
.jumbotron address {
    color: var(--white);
    margin: 25px 0;
    max-width: 600px;
}

.jumbotron .content .text {
    margin-bottom: 70px;
}

.jumbotron .content {
    max-width: 860px;
}

/*end jumbotron */

/* post-blog */
.post-blog {
    padding-top: 100px;
}

.post-blog .content {
    display: flex;
    gap: 20px;
}

.post-blog .all-post {
    display: flex;
    justify-content: space-between;
}

.post-blog .item-box {
    margin-top: 30px;
    padding: 25px;
}

.post-blog .placeholder {
    max-width: 60%;
}

.placeholder .item-box {
    border: 1px solid var(--border-color);
    gap: 25px;
    display: grid;
}

.placeholder img {
    width: 100%;
}

.placeholder-items .all-post a {
    color: var(--purple);
    font-size: 16px;
    line-height: 28px;
}

.placeholder-items .all-post {
    align-items: baseline;
}

.placeholder-items .items {
    margin-top: 30px;
}

.placeholder-items .item-blog .block-blog:hover {
    background-color: var(--light-yellow);
}

.placeholder-items .item-blog .block-blog {
    padding: 30px;
    display: grid;
    gap: 10px;
}

/* end post-blog */

/* about */
.about .content {
    padding: 100px;
    background-color: var(--lavender);
    display: flex;
    gap: 40px;
    position: relative;
}

.about .content::after {
    content: "";
    width: 282px;
    height: 23px;
    background-color: var(--purple);
    top: -23px;
    right: 0;
    position: absolute;
}

.about .content::before {
    content: "";
    width: 1061px;
    height: 23px;
    background-color: var(--yellow);
    top: -23px;
    right: 0;
    position: absolute;
}

.about .content>* {
    width: calc(50% - 20px);
}

.about .box-item {
    display: grid;
    gap: 20px;
    align-self: baseline;
}

.about .sub-title {
    font-weight: 600;
    line-height: 20px;
    color: var(--black);
}

.about a {
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
}

.about a:hover {
    color: var(--yellow);
}

/* end about */

/* category */
.category-box .category-item {
    padding: 30px;
    border: 1px solid var(--border-color);
    gap: 10px;
    display: grid;
}

.category-box .category-item:hover {
    border-color: var(--yellow);
    background-color: var(--yellow);
}

.category-item img {
    background-color: var(--light-yellow);
    border-radius: 10px;
}

.category-box .category-item:hover img {
    background-color: white;

}

/* end category */

/* started */
.started .content {
    position: relative;
}

.started .bg-img {
    max-width: 949px;
    max-height: 705px;
}

.started .box-content {
    right: 0;
    position: absolute;
    bottom: 0;
    background-color: var(--white);
    padding: 60px;
    max-width: 600px;
    display: grid;
    gap: 25px;
}

.started .box-content .sub-title {
    font-weight: 600;
    line-height: 20px;
    color: var(--black);
}

/* end started */

/* list-authors */
.list-item {
    text-align: center;
    padding: 40px 30px 30px 30px;
    background-color: var(--light-grey);
}

.list-item:hover {
    background-color: var(--light-yellow);
}

.list-item .infor {
    margin-top: 15px;
}

.list-item .infor ul {
    justify-content: center;
}

.list-item .avatar {
    width: 128px;
    height: 128px;
}

/*end list-authors */