@media (max-width: 1024px) {
    /* BASE STYLES */

    /* LAYOUT  */
    .tablet\:container {
        max-width: 768px;
    }

    .tablet\:none {
        display: none;
    }

    .tablet\:block {
        display: block;
    }

    .tablet\:col {
        display: flex;
        flex-direction: column;
    }

    .tablet\:col-reverse {
        display: flex;
        flex-direction: column-reverse;
    }

    .tablet\:space-between {
        justify-content: space-between;
    }

    .tablet\:bottom-23 {
        bottom: 23px;
    }

    .tablet\:position-mid {
        left: 50%;
        transform: translateX(-50%);
    }

    .tablet\:grid-cols-2 {
        grid-template-columns: repeat(2, 1fr);
    }

    .tablet\:w-full {
        width: 100%;
    }

    .tablet\:pad-0 {
        padding: 0;
    }

    .tablet\:pad-30 {
        padding: 30px;
    }

    .tablet\:pad-top-50 {
        padding-top: 50px;
    }

    .tablet\:mg-bot-30 {
        margin-bottom: 30px;
    }

    .tablet\:mg-0 {
        margin: 0px;
    }

    .tablet\:gap-30 {
        gap: 30px;
    }

    /* UTILITIES */
    .tablet\:w-full {
        width: 100%;
    }

    .tablet\:position-none {
        position: unset;
    }

    .tablet\:border-none {
        border: none;
    }

    .tablet\:center {
        text-align: center;
    }

    /* COMPONENTS */
    .tablet\:line-w-full::before {
        width: 100%;
    }
}